<h1><%= @event.name%></h1>
<% unless @event.usevents.nil? %>
<p>
    Event created by <%= @event.usevents%>
</p>
<% end %>
<div>
    <%= @event.organizer%>
</div>
<div>
    <%= link_to "Edit", edit_event_path(@event)%>
</div>
